/* header and nav layout */
header .nav-wrapper {
    width: 100%;
}

header nav {
    box-sizing: border-box;
    margin-bottom: 16px;
    font-family: var(--body-font-family);
}

@media (width >= 600px) {
    header .nav-wrapper {
        position: sticky;
        top: 42px;
        width: fit-content;
        max-width: 100%;
    }

    header nav {
        padding: 0;
    }
}

header nav p {
    margin: 0;
}

header nav a:any-link {
    color: currentcolor;
}

/* brand */
header .nav-brand {
    font-size: var(--heading-font-size-s);
    font-weight: 500;
}

header nav .nav-brand .default-content-wrapper {
    display: block;
}

header nav .nav-brand p {
    font-family: var(--heading-font-family);
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 0.03em;
    line-height: 0.95;
    text-transform: uppercase;
}

header nav .nav-brand img {
    width: 128px;
    height: auto;
}

