.sidebar-wrapper.nav-sections {
    display: block;
}

.sidebar.block > div > div:empty {
    display: none;
}

.sidebar.block > div > div:first-child p {
    line-height: 1;
}

.sidebar.block > div > div:first-child a:any-link {
    display: inline-block;
    font-size: var(--body-font-size-xs);
    font-weight: 400;
}

.sidebar.block ul {
    list-style: none;
    margin: 10px 0 0;
    padding-left: 14px;
    font-size: var(--body-font-size-xs);
}

.sidebar.block li {
    margin: 0 0 10px;
    line-height: 1.35;
    font-weight: 400;
}

@media (width >= 600px) {
    .sidebar-wrapper.nav-sections {
        margin-top: 12px;
    }
}

.sidebar.block a[aria-current="page"] {
    font-weight: 600;
}
